<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KellyShop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87A6BF181CA040E200BF2AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A6BF2F1CA040E200BF2AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87A6BF3A1CA040E200BF2AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
